@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    div.maininputs {
        width: 1000px;
        margin: auto;
        /*border: 3px solid #73AD21;*/
    }

    .input {
        width: 1000px
    }

    .xml {
        height: 400px
    }

    .left-align {
        text-align: left;
        float: left;
    }

    .input-div {
        padding-bottom: 7px;
    }

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0px;
    }
</style>

<div class="text-center maininputs">

    @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
    <div class="text-danger" id="errorInfo"></div>
    <fieldset>
        <div class="input-div">
            <div>
                <label class="left-align" for="xpathExpression">XPath Expression</label>
            </div>
            <input class="input xpath" type="text" id="xpathInput">
        </div>
        <div class="input-div">
            <div>
                <label class="left-align" for="xml">XML</label>
            </div>
            <textarea class="input xml" type="text" id="xmlInput"></textarea>
        </div>
        <div class="left-align">
            <input type="submit" value="Validate" id="validateButton">
        </div>
    </fieldset>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#validateButton').click(function () {
            var url = "/api/Validation/Validate";
            console.log(url);
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "xpathExpression": document.getElementById("xpathInput").value, "xml": document.getElementById("xmlInput").value }),
                success: function (data) {

                },
                error: function (data) {
                    console.log(data);
                    document.getElementById("errorInfo").textContent = data.responseText;
                }
            });
        });

    });
</script>