@page
@model IndexModel
@{
}

<style>
    div.maininputs {
        width: 1000px;
        margin: auto;
        /*border: 3px solid #73AD21;*/
    }

    .input {
        width: 1000px
    }

    .xml {
        height: 1000px
    }

    .left-align {
        text-align: left;
    }

    .input-div {
        padding-bottom: 7px;
    }

    .button-div {
        padding-bottom: 18px;
    }

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0px;
    }

    .CodeMirror {
        text-align: left !important;
        border: 1px solid #bbbbbb;
        height: 500px !important;
    }
</style>

<div class="text-center maininputs">
    <fieldset>
        <div class="input-div">
            <div>
                <h5 class="left-align" for="xpathExpression">XPath Expression</h5>
            </div>
            <input class="input xpath" type="text" id="xpathInput">
        </div>
        <div class="input-div">
            <h5 class="left-align" for="xml">XML</h5>
            <div>
                <textarea class="input xml" type="text" id="xmlInput"></textarea>
            </div>
        </div>
        <div class="left-align button-div">
            <button type="button" class="btn btn-light" id="validateButton">Validate</button>
            <button type="button" class="btn btn-light" id="clearButton">Clear</button>
        </div>
    </fieldset>

    <div class="left-align">
        <h5>About</h5>
        <p>XPath Validator is a validator and tester for XPath expressions. Use it to either compile your XPath expressions and check their validity or test them by providing XML and checking the response.</p>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<link rel="stylesheet" href="~/lib/codemirror/codemirror.css">
<script src="~/lib/codemirror/codemirror.js"></script>
<script src="~/lib/codemirror/mode/xml/xml.js"></script>


<script type="text/javascript">
    $(document).ready(function () {


        var editor = CodeMirror.fromTextArea(document.getElementById("xmlInput"), {
            mode: "xml",
            lineNumbers: true,
        });

        function escapeHtml(html) {
            var text = document.createTextNode(html);
            var p = document.createElement('p');
            p.appendChild(text);
            return p.innerHTML;
        }

        $('#clearButton').click(function () {
            document.getElementById("xpathInput").value = "";
            editor.setValue("");
        });

        $('#validateButton').click(function () {
            var url = "/api/Validation/Validate";
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "xpathExpression": document.getElementById("xpathInput").value, "xml": editor.getValue() }),
                success: function (data) {

                    var response = escapeHtml(data);
                    response = response.replace(/(?:\r\n|\r|\n)/g, '<br>');

                    Swal.fire({
                        html: response,
                        title: 'Success',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    })

                },
                error: function (data) {
                    Swal.fire({
                        title: 'Error!',
                        text: data.responseText,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            });
        });

    });
</script>